.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-sidenav-content {
  mat-toolbar {
    .logo {
      width: 3rem;
      height: 3rem;
    }
    mat-nav-list {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 0;
      margin-left: 2rem;

      // a {
      //   font-size: 1.25rem;
      //   border-bottom: 2px solid transparent;
      //   -webkit-transition: all 0.5s ease-in-out;
      //   transition: all 0.5s ease-in-out;

      //   &.active {
      //     color: $primary-color;
      //     border-bottom: 2px solid $primary-color;
      //   }

      //   &:hover {
      //     color: $primary-color;
      //     background-color: lighten($color: $bg-color, $amount: 5);
      //   }
      // }
    }

    .authBtn {
      margin-left: auto;
    }
  }
}
